html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  color: #ffffff;
}
* {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
}
.btn {
  width: 200px;
  min-height: 50px;
  background-color: #672963;
  border: 2px solid #e6af00;
  border-radius: 5px;
  text-transform: uppercase;
  color: #e6af00;
  letter-spacing: 3px;
  font-size: 16px;
  outline: none;
  transition: background-color 0.1s;
  cursor: pointer;
}
.btn:hover {
  background-color: #7c3a74;
}
.btn:active {
  background-color: #a52694;
}

/* Header */

.header {
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
  background-color: #e6af00;
  position: relative;
  z-index: 0;
  overflow: hidden;
  height: 100vh;
}
.header .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.title {
  text-transform: uppercase;
  color: #e6af00;
  background-color: #672963;
  border-radius: 5px;
  width: 70%;
  margin: 0 auto;
  padding: 15px 0;
}
.header-main {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 70px;
}
.btn-header {
  width: 70%;
}
.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  min-width: 100%;
  min-height: 102%;
}
.header-list li {
  margin-bottom: 10px;
  font-size: 25px;
  color: #e6af00;
  text-shadow: 1px 0px 3px #672963,
  0px 1px 3px #672963,
  -1px 0px 3px #672963,
  0px -1px 3px #672963;
}
.header li:last-child {
  margin-bottom: 0;
}

/* Product Info */

.product-info {
  background: linear-gradient(#5992b7, #4eb773);
  padding: 70px 0;
  text-align: center;
  border-bottom: 3px solid #b5b51b;
}
.product-info-inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.column {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 19px;
}
.product-info-item {
  margin-bottom: 50px;
}
.product-info-item:last-child {
  margin-bottom: 0;
}
.product-info-item img {
  border: 8px solid #ffffff;
  border-radius: 50%;
  margin-bottom: 5px;
}


/* Reviews */

.reviews {
  background: linear-gradient(#4eb773, #5992b7);
  text-align: center;
  padding: 100px 0;
  border-bottom: 3px solid #b5b51b;
}
.carousel-container {
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
}
.review-items {
  display: flex;
  transition: all 1.5s;
}
.reviews .container {
  position: relative;
}
.arrow-left {
  width: 20px;
  height: 20px;
  border-left: 3px solid #ffffff;
  border-top: 3px solid #ffffff;
  transform: rotate(-45deg);
  position: absolute;
  top: 50%;
  left: 50px;
  cursor: pointer;
  opacity: 0.5;
}
.arrow-right {
  width: 20px;
  height: 20px;
  border-top: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 50px;
  cursor: pointer;
  opacity: 0.5;
}
.active {
  opacity: 1;
}
.review-item {
  min-width: 100%;
  padding: 20px;
}
.review-photo {
  margin-bottom: 23px;
}
.review-name {
  margin-bottom: 35px;
}


/* Product Features */

.product-features {
  background: linear-gradient(#5992b7, #4eb773);
  padding-top: 100px;
  padding-bottom: 80px;
  text-align: center;
  border-bottom: 3px solid #b5b51b;
}
.product-features-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 80px;
}
.product-features-text {
  width: 40%;
  text-align: left;
}
.product-features-list {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 70px;
}
.product-features-list li {
  display: inline-block;
  margin-right: 70px;
}
.product-features-list li:last-child {
  margin-right: 0;
}


/* Order */

.order {
  background: linear-gradient(#4eb773, #5992b7);
  padding: 60px 0;
  border-bottom: 3px solid #b5b51b;
}
.order-title,
.order-timer {
  margin-bottom: 50px;
}
.order-top {
  text-align: center;
}
.order-bottom {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.order-info {
  text-align: center;
}
.order-info img {
  margin-bottom: 20px;
}
.prices {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@keyframes pulse {
  0% {font-size: 1.6em;}
  50% {font-size: 1.3em;}
  100% {font-size: 1.6em;}
}
@keyframes color {
  0% {color: #5fe27b;}
  50% {color: #ffffff;}
  100% {color: #5fe27b;}
}
.new-price {
  font-size: 1.3em;
  animation-name: pulse, color;
  animation-duration: 2s, 2s;
  animation-iteration-count: infinite;
  height: 30px;
}

.old-price {
  text-decoration: line-through;
  line-height: 28px;
}
.label-name {
  margin-right: 60px;

}
.label-tel {
  margin-right: 30px;
}
.input-name,
.input-tel {
  width: 200px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #eaeaea;
  border: none;
  outline: none;
  padding-left: 10px;
}
.input-for-hint {
  position: relative;
}
.input-name-hint,
.input-tel-hint {
  width: 194px;
  height: 25px;
  background-color: #ffffff;
  border-radius: 5px;
  text-align: center;
  line-height: 25px;
  font-size: 13px;
  color: #000000;
  position: absolute;
  top: -14px;
  right: -194px;
  opacity: 0;
  transition: all 0.5s;
}
.input-name:focus ~ .input-name-hint {
  opacity: 1;
}
.input-tel:focus ~ .input-tel-hint {
  opacity: 1;
}
.input-tel::-webkit-outer-spin-button,
.input-tel::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.btn-order {
  margin-top: 40px;
}
@media (max-width: 1100px) {
  .header-main img {
    transform: scale(0.8);
  }
  .product-info-img {
    transform: scale(0.8);
  }
  .product-info-item {
    transform: scale(0.9);
  }
}
@media (max-width: 850px) {
  .header {
    height: auto;
  }
  .header-main img {
    transform: scale(0.8);
  }
  .header-list li {
    font-size: 20px;
  }
  .product-info-img {
    transform: scale(0.8);
  }
  .product-info-item {
    transform: scale(0.8);
  }
  .product-features-list li {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .product-features-top {
    width: 100%;
  }
  .order-bottom {
    width: 100%;
  }

  .input-name-hint,
  .input-tel-hint {
    width: 200px;
    top: 61px;
    right: 0;
  }
}
@media (max-width: 750px) {


  .header-main {
    flex-wrap: wrap;
  }
  .header-main img {
    transform: scale(0.7);
  }


  .product-info {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .product-info-inner {
    margin-bottom: 15px;
  }
  .column {
    width: 43%;
  }
  .product-info-item {
    transform: scale(0.7);
    margin-bottom: 0;
  }
  .product-info-img {
    display: none;
  }


  .reviews {
    padding-top: 40px;
    padding-bottom: 50px;
  }


  .product-features {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .product-features-top {
    flex-wrap: wrap;
  }
  .product-features-img {
    margin-bottom: 45px;
  }
  .product-features-text {
    width: 90%;
  }
  .product-features-list li {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .order {
    padding: 40px 0;
  }
  .order-title {
    margin-bottom: 20px;
  }
  .order-bottom {
   flex-wrap: wrap;
  }
  .order-info {
    margin-bottom: 23px;
  }
  .order-form {
    text-align: center;
  }
  .label-name,
  .label-tel {
    margin-right: 0;
  }
  .input-name,
  .input-tel {
    margin-top: 10px;
    margin-bottom: 23px;
  }
  .btn-order {
    margin: 0;
  }


  .arrow-left {
    left: 20px;
    z-index: 100;
  }
  .arrow-right {
    right: 20px;
    z-index: 100;
  }
  .carousel-container {
    width: 100%;
  }

}
@media (max-width: 320px) {
  .order-form {
    width: 90%;
  }
  .label-name,
  .label-tel {
    margin-right: 0;
  }
}
